{% load static %}

{% block content %}

<div class=adminAddUser">
    <div class="add-career-content">
        <div class="add-user-form">
            <div class="add-user-title">
                <p>Añadir Turno</p>
            </div>
            <form method="POST" class="user-form">
                {% csrf_token %}
                <div class="form-field">
                    <p>Nombre</p>
                    {{ shift_form.nom_turno }}
                </div>
                <div class="buttons-user-form">
                    <div class="add-button">
                        <button type="submit" class="primary-button button-agregar">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}