{% load static %}
<footer class="footer">
    <div class="content-footer">

        <div class="footer-info">
            <div class="footer-info-content">

                <div class="footer-info-title">
                    <h3>Contacto</h3>
                </div>

                <div class="footer-info-details">
                    <ul>
                        <li>
                            <div class="contact mail">
                                <img src="{%static 'icons/mail.svg'%}">
                                <p class="contact-info">contacto@uptapachula.edu.mx</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact phone">
                                <img src="{%static 'icons/phone.svg'%}">
                                <p class="contact-info">tel:(962) 689 0090 Ext. 1001-1010</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-info">
            <div class="footer-info-content">

                <div class="footer-info-title">
                    <h3>Redes Sociales</h3>
                </div>

                <div class="footer-info-details">
                    <div class="footer-info-icons">
                        <a href="https://www.facebook.com/UPTapachula" target="_blank"><img
                                src="{%static 'icons/facebook.svg'%}"></a>
                        <a href=" https://twitter.com/UPTapachula?t=r8N6iM0LTCxHtsdJ7zlTnA&s=08" target="_blank"><img
                                src="{%static 'icons/twitter.svg'%}"></a>
                        <a href="https://www.tiktok.com/@uptapachula?_t=8ZKIROmgjG1&_r=1" target="_blank"><img
                                src="{%static 'icons/tiktok.svg'%}"></a>
                        <a href="https://instagram.com/uptapachula?igshid=YmMyMTA2M2Y=" target="_blank"><img
                                src="{%static 'icons/instagram.svg'%}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>