{% load static %}

{% block content %}
<aside class="userMenu">
    <div class="user-menu-content">
        <div class="user-menu-data">
            <div class="user-menu-data-image">
                <div class="user-menu-data-image-content">
                    <img src="{%static 'icons/user.svg'%}">
                </div>
            </div>
            <div class="user-menu-data-info">
                <div class="user-menu-data-name">
                    <div class="user-menu-data-name-content">
                        {% if user.is_staff %}
                        <p>{{ user.first_name }}</p>
                        {% else %}
                        <p>{{ usuario.nombre_completo }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="user-menu-data-email">
                    <div class="user-menu-data-email-content">
                        <p>{{ user.username }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="user-menu-log-out">
            <div class="user-menu-log-out-image">
                <div class="user-menu-log-out-image-contetn">
                    <a href="{% url 'logout' %}">
                        <img src="{%static 'icons/exit.svg'%}">
                    </a>
                </div>
            </div>
            <div class="user-menu-log-out-text">
                <div class="user-menu-log-out-text-content">
                    <p>Cerrar Sesión</p>
                </div>
            </div>
        </div>
    </div>
</aside>
{% endblock %}